.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--SoftGray);
    height: 95px;
    font-family: 'Open Sans', sans-serif;;
}

.logo-wrapper a{
    display: flex;
    align-items: center;
}

.logo-wrapper{
    padding: 20px;
}
.logo-img{
    height: 75px;
}

.logo-text-img{
    height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.picture-wrapper a{
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--GrayishWhite);
}

.picture-wrapper a{
    text-decoration: none;
    color: var(--Gray);
    font-weight: bold;
}

.picture-wrapper img{
    height: 80px;
}
