.mainhome{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.feed{
    background-color: var(--GrayishWhite);
    padding: 20px;
    margin-top: 5px;
    width: 100%;
    min-width: 1155px;
}

.project-box{
    display: grid;
    grid-template-columns: repeat(3, 300px); /* 1 columns, each 300px wide */
    justify-content: center; /* Center the grid horizontally (optional) */
    gap: 20px;
    min-width: 1100px;
    background-color: #D9D9D9;
    width: 100%;
    height: 120%;
    border: 1px rgba(19, 17, 17, 0.29);
    border-style: solid;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.pagination .page-item .page-link.pagination{
    position: absolute;
}
.pagination .page-item .page-link {
    color: var(--Gray); /* Border color */
    background-color: var(--GrayishWhite); /* Background color */
    border-color: var(--Gray); /* Border color */
}

.pagination .page-item.active .page-link {
    color:  var(--GrayishWhite); /* Background color */
    background-color: var(--Gray);
    border-color: var(--Gray);
}

.pagination .page-item .page-link:hover {
    color:  var(--GrayishWhite); /* Background color */
    background-color: var(--Gray);
    border-color: var(--Gray);
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Disabled text color */
    background-color: #ffffff; /* Disabled background color */
    border-color: #dddddd; /* Disabled border color */
}
.empt{
    display: flex;
    justify-content: center;
    background-color: var(--SoftGrayGray);
}
.pagination{
    margin-left: 20px;
}

.title{
    text-align: center;
    color: var(--Gray);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
.box-options{
    display: flex;
}
.options{
    border: 1px rgba(19, 17, 17, 0.29);
    border-style: solid;
    border-bottom: none;
    width: 120%;
    min-width: 150px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}
.options a{
    text-decoration: none;
    color: var(--Gray);
    font-size: 20px;

}
.options a:hover{
    text-decoration: none;
    color:var(--Black);
}

.box-intern{
    display: flex;
}
