/*NavBar*/

.login-button{
    background-color: #434343;
    color: #d1cece;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover, .profile-button:hover{
    background-color: #252525;
}

#nav-toggler{
    border: 1px transparent;
    font-size: 1.25rem;
}

#nav-toggler:focus, #btn-closs:focus{
    box-shadow: none;
    outline: none;
}


.profile-button{
    cursor: pointer;
    background-color: #434343;

    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s background-color;
}
.profile-button a{
    text-decoration: none;
    color: #d1cece;
}
.profile-pic{
    height: 24px;
    border-radius: 100px;
}
.nav-link{
    color: #434343;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: #171717;
}
@media(min-width:991px ){
    .nav-link:before{
        content: "";
        position: absolute;
        bottom: 0;
        left:50%;
        transform:translateX(-50%);
        width: 0;
        height: 2px;
        background-color:#434343;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover:before, .nav-link.active:before{
        width: 100%;
        visibility: visible;
    }
}

