:root{
    --GrayishWhite: #f6f6f6;
    --Black: #202020;
    --Gray:  #514f4f;
    --SoftGray: #D9D9D9;
    --MediumGray: #7a7979;
}
.mainshadowdown{
    box-shadow:  0 3px 5px 0 rgba(0,0,0,0.35);
}
body{
    margin: 0;
    background-color: var(--GrayishWhite);
}
.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--SoftGray);
    height: 95px;
    font-family: 'Open Sans', sans-serif;;
}

.logo-wrapper .text{
    display: flex;
    align-items: center;
}

.logo-wrapper{
    display: flex;
    padding: 20px;
    align-items: center;
}
.logo-img{
    height: 75px;
}

.logo-text-img{
    height: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.profile-wrapper .text{
    color: var(--GrayishWhite);
}

.profile-wrapper .text{
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

.profile-wrapper a{
    display: flex;
    align-items: center;
}

.profile-wrapper{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search-icon{
    height: 20px;
    margin-right: 20px;
}

.profile-icon{
    height: 20px;
    padding: 20px;
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.profile-pic-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--GrayishWhite);
    border-radius: 100px;
    margin: 10px 12px 10px 10px;
    height: 40px;
    width: 40px;
}

.logo-img{
    height: 60px;
}
