
body{
    margin: 0;
    background-color: var(--GrayishWhite);
}
.mainperfil{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.userImg{
    width: 78px;
    border-radius: 10%;
    border: 1px solid var(--GrayishWhite);
}

.sideBar {
    top: 95px;
    left: 0;
    height: 100vh;
    width: 30vh;
    padding: .8rem .8rem;
    transition: all 0.5s ease;
    min-width: 250px;
}

.user{
    display: flex;
    align-items: center;
}
.user .userInfo{

    opacity: 1;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.user .userInfo .name{

    font-size: 120%;
    font-weight: bold;
    color: var(--Black);
}
.user .userInfo .apelido{
    font-size: 100%;
    color: var(--Gray);
}

.userFollowers p{
    margin: 0;
}

.userFollowers{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    min-width: 190px;
    padding: 20px 0 20px 0;
    border: none;
    font-weight: bold;
    background-color: var(--MediumGray);
}

.userFollowers .count{
    padding-left: 1rem;
    color: var(--GrayishWhite);
}
.userFollowers .tag{
    color: var(--SoftGray);
}
.contact{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.button-container{
    display: flex;
   grid-gap: 20px;
}

.round-button {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color:var(--SoftGray);
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
}
.logophoto{
    width: 30px;
    height: 30px;
    align-self: center;
}
.round-button:hover {
    background: var(--MediumGray);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.title{
    display: flex;
    font-size: 140%;
    color: var(--MediumGray);
}




.contactBox p{
    color: var(--GrayishWhite);
    align-self: center;
}
@media screen and (min-width: 1921px) {
    .mail p{
        font-size: 15px;
    }
}
@media screen and (max-width: 1920px) {
    .mail p{
        font-size: 10px;
    }
}

.mail p{
    align-self: center;
}

.options{
    margin-top: 10%;

}
.editBox{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
    cursor: pointer;
}
.logoutBox{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
    cursor: pointer;
}
.editBox:hover {
    background: var(--Black);
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.logoutBox:hover {
    background: darkred;
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.logout{
    text-decoration: none;
    color: var(--GrayishWhite);
    align-self: center;
    background-color: var(--Gray);
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
    cursor: pointer;
}

.logout:hover{
    text-decoration: none;
    background: darkred;
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.edit{
    text-decoration: none;
    color: var(--GrayishWhite);
    align-self: center;
    background-color: var(--Gray);
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
    cursor: pointer;
}

.edit:hover{
    text-decoration: none;
    background: var(--Black);
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}


.portifolio{
    padding-top: 20px;
    margin-left: 25px;
    left: 30vh;
    height: 100vh;
    width: 100%;
    min-width: 1155px;

}
.portBox{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 25px;
    display: flex;
    align-items: center;
    width: 50px;
    height:50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 250px;
    color: var(--Black);
    font-size: 20px;
}
.portBox p:hover{
    text-decoration: none;
    background-color: var(--Black);
    color: var(--GrayishWhite);
    transition-duration: 1s;
    transition-timing-function: ease;
}

a.portBox:hover{
    color: blue;
}


.disp-btn{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    min-width: 190px;
    color: var(--GrayishWhite);
    padding: 20px 0 20px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.green-disp-btn{
    background-color: #03A814;
}

.red-disp-btn{
    background-color: #FF0000;
}

.green-disp-btn:hover{
    background: #028e0d;
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.red-disp-btn:hover{
    background-color: #c60101;
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.disp-info-icon{
    height: 20px;
    left: 40px;
    position: relative;
}

#disp-info-text{
    position: absolute;
    background-color: #d1d1d1;
    width: 240px;

    top: 370px;
    border-radius: 8px;
    text-align: justify;
}

.shadowbtn{
    box-shadow:  0 0 5px 0 rgba(0,0,0,0.35);
}

.main-content{
    display: flex;
}



