
body{
    margin: 0;
    background-color: var(--GrayishWhite);
}
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.userImg{
    width: 78px;
    border-radius: 10%;
    border: 1px solid var(--GrayishWhite);
}

.sideBar {
    position: absolute;
    top: 95px;
    left: 0;
    height: 100vh;
    width: 30vh;
    padding: .8rem .8rem;
    transition: all 0.5s ease;

}

.user{
    display: flex;
    align-items: center;
}
.user .userInfo{

    opacity: 1;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.user .userInfo .name{
    font-size: 120%;
    color: var(--Black);
}
.user .userInfo .apelido{
    font-size: 100%;
    color: var(--Gray);
}

.userFollowers{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
}
.userFollowers .count{
    padding-left: 1rem;
    color: var(--GrayishWhite);
}
.userFollowers .tag{
    color: var(--SoftGray)
}
.contact{
    justify-content: center;
    display: flex;
}
.title{
    display: flex;
    font-size: 140%;
    color: var(--MediumGray);
}
.contactBox{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    border-radius: 10px;
    min-width: 190px;
}
.mail{
    margin-top: -8px;
}

.fone{
    margin-top: 10px;
}

.contactBox p{
    color: var(--GrayishWhite);
    align-self: center;
}
@media screen and (min-width: 1921px) {
    .mail p{
        font-size: 15px;
    }
}
@media screen and (max-width: 1920px) {
    .mail p{
        font-size: 10px;
    }
}



.mail p{
    align-self: center;
}

.options{
    margin-top: 60%;

}
.editBox{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
}
.logoutBox{
    background-color: var(--Gray);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 190px;
}
.editBox:hover {
    background: var(--Black);
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.logoutBox:hover {
    background: darkred;
    color: var(--GrayishWhite);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.logout{
    text-decoration: none;
    color: var(--GrayishWhite);
    align-self: center;
}
.edit{
    text-decoration: none;
    color: var(--GrayishWhite);
    align-self: center;
}

.disponibilidade{
    background-color: darkred ;
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    min-width: 190px;
}
.circulo{
    background-color: var(--GrayishWhite) ;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    min-width: 12px;
    max-width: 12px;
    position: absolute;
    left: 20px;
    align-self: center;
}
.disponibilidade p{
    align-self: center;
    color: var(--GrayishWhite);
}

.portifolio{
    margin-left: 25px;
    position: absolute;
    left: 30vh;
    height: 100vh;
    width: 100%;
    background-color: var(--SoftGray);
    display: flex;
}
.portBox{
    margin-left: 15px;
    background-color: var(--Gray);
    display: flex;
    width: 10%;
    height: 25px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    min-width: 190px;
}
.portBox a{
    color: var(--GrayishWhite);
    font-size: 90%;
    align-self: center;
}
