
.project-box{
    display: grid;
    grid-template-columns: repeat(3, 300px); /* 3 columns, each 300px wide */
    justify-content: center; /* Center the grid horizontally (optional) */
    gap:20px;

}
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, #393735 0%, #050001 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(2, 0, 0, 0.64);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: var(--GrayishWhite);
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: var(--GrayishWhite);;
    line-height: 1.4;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em; /* aqui vc controla a altura da caixa de texto */
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.block-with-text:before {
    color: white;
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
}
a{
    text-decoration: none;
}
.pagination .page-item .page-link.pagination{
    position: absolute;
}
.pagination .page-item .page-link {
    color: var(--Gray); /* Border color */
    background-color: var(--GrayishWhite); /* Background color */
    border-color: var(--Gray); /* Border color */
}

.pagination .page-item.active .page-link {
    color:  var(--GrayishWhite); /* Background color */
    background-color: var(--Gray);
    border-color: var(--Gray);
}

.pagination .page-item .page-link:hover {
    color:  var(--GrayishWhite); /* Background color */
    background-color: var(--Gray);
    border-color: var(--Gray);
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Disabled text color */
    background-color: #ffffff; /* Disabled background color */
    border-color: #dddddd; /* Disabled border color */
}
.empt{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.pagination{
    margin-left: 20px;
}

